<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h2>Mon Blog Django</h2>
    <nav>
        <a href="{% url 'articles:liste' %}">Accueil</a>

        {% if user.is_authenticated %}
            <a href="{% url 'articles:creer' %}">Créer un article</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Déconnexion</button>
                </form>
        {% else %}
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'register' %}">Inscription</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2025 — Projet Blog Django</p>
</footer>

</body>
</html>
